*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* FOOTER */
.footer-description{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-right: 15px;
}
.icon{
  font-size: 26px;
  color: var(--logo-color);
  margin: 4px;
}
.icon:hover{
  transform: scale(1.2);
  transition: all 0.3s;
}